.page-section-wrapper {
    background-color: var(--card-background); 
    padding: 3rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#map-acerca {
    min-height: 550px;
    min-width: 500px;
    border-radius: 10px;
    width: 100%;
    z-index: 0;
    border: 1px solid var(--border-color);
}