.content-card {
    background-color: var(--card-background);
    padding: 2.5rem;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#map-add-point {
    height: 450px;
    border-radius: 10px;
    width: 100%;
    z-index: 0;
    cursor: crosshair;
    border: 1px solid var(--border-color);
}

.form-label {
    color: var(--text-color);
    font-weight: 500;
}

.form-control, .form-select {
    background-color: #fff;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.75rem 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus, .form-select:focus {
    background-color: #fff;
    color: var(--text-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-color) 25%, transparent);
}

.form-control::placeholder {
    color: #aeaeae;
}

#coords-status {
    font-style: italic;
    min-height: 1.5em;
    color: var(--text-color-light);
}